<div class="wrapper_super_skinny">
  <h2 class="form_title">Edit Settings</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, label: "Email", autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <i>Please leave field below blank if you don't want to change it</i><br />
      <%= f.password_field :password, label: "Password", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, label: "Password Confirmation", autocomplete: "off" %>
    </div>

    <div class="field">
      <i>To change your settings, please type your password</i><br />
      <%= f.password_field :current_password, label: "Current Password", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3 class="form_title">Cancel my account</h3>

  <p><%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>