<!-- Banner -->

<div class="banner clearfix" style="background-image: url(<%=@article_banner.banner_image.url() %>)">
	<div class="headline_block">
		<h1><%= link_to @article_banner.title.capitalize, @article_banner %></h1>
		<div id="author_title">
			<h4><%= @article_banner.author %></h4>
			<p><%= @article_banner.created_at.strftime("%B %d, %Y") %></p>
		</div>
		<p>
			<%= truncate(@article_banner.body, length: 250) %>
			<%= link_to "See More", @article_banner, id: "see_more" %>
		</p>
	</div>
</div>

<!-- Article Index -->

<div class="wrapper">
	
	<h1 id="more_stories">More Stories</h1>
	
	<% @articles.each do |article| %>
		<% unless article == @article_banner %>
			<div class="row clearfix">
				<%= link_to image_tag(article.banner_image.url(), class: "thumbnail_image"), article %>
				<div class="thumbnail_article">
					<h2><%= link_to article.title.capitalize, article %></h2>
					<div class="inline clearfix">
						<h4><%= article.author %></h4><h5>| <%= article.created_at.strftime("%B %d, %Y") %></h5>
					</div>
					<p><%= truncate(article.body, length: 250) %></p>
					<%= link_to "See More", article, id: "see_more" %>
				</div>
			</div>
		<% end %>
	<% end %>

<!-- See More -->
<div class="wrapper_skinny clearfix">
	<div class="pull_right">
		<h3><%=link_to "See More >>", articles_path %></h3>
	</div>
</div>

</div>