<!-- Banner -->

<div class="banner clearfix" style="background-image: url(<%=@articles.last.banner_image %>)">
	<div class="headline_block">
		<h1><%= link_to @articles.last.title.capitalize, @articles.last %></h1>
		<div id="author_title">
			<h4><%= @articles.last.author %></h4>
			<p><%= @articles.last.created_at.strftime("%B %d, %Y") %></p>
		</div>
		<p>
			<%= truncate(@articles.last.body, length: 250) %>
			<%= link_to "See More", @articles.last, id: "see_more" %>
		</p>
	</div>
</div>

<!-- Article Index -->

<div class="wrapper">
	
	<h1 id="more_stories">More Stories</h1>
	
	<% @articles.each do |article| %>
		<% unless article == @articles.last %>
			<div class="row clearfix">
				<%= link_to image_tag(article.banner_image, class: "thumbnail_image"), article %>
				<div class="thumbnail_article">
					<h2><%= link_to article.title.capitalize, article %></h2>
					<div class="inline clearfix">
						<h4><%= article.author %></h4><h5>| <%= article.created_at.strftime("%B %d, %Y") %></h5>
					</div>
					<p><%= article.body %></p>
					<%= link_to "See More", article, id: "see_more" %>
				</div>
			</div>
		<% end %>
	<% end %>

	<!-- Pagination -->

	<div class="pagination">
		<span class="previous_page disabled">Previous</span>
		<em class="current">1</em>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a class="next_page" href="#">Next</a>				
	</div>

</div>