<div class="wrapper">
	<h1 id="index-title">All Articles</h1>
	<div class="clearfix">
		<%= form_tag search_articles_path, method: :get, class: "searchbar", role: "search" do %>
			<p>
			  <%= text_field_tag :search, params[:search], class: "search-form" %>
			  <%= submit_tag "Search", name: nil, class: "btn btn-primary searchbar" %>
			</p>
		<% end %>
	</div>
	<% @articles.each do |article| %>
		<div class="row clearfix">
			<%= link_to image_tag(article.banner_image.url(), class: "thumbnail_image"), article %>
			<div class="article-block">
				<h2><%= link_to article.title, article %></h2>
				<div class="inline clearfix">
					<h4><%= article.author.name %></h4><h5>| <%= article.created_at.strftime("%B %d, %Y") %></h5>
				</div>
				<p><%= link_to article.author.name, article.author %></p>
				<p><%= truncate(article.body, length: 250) %></p>
				<% if article.categories.any? %>
					<p><%= render article.categories %><p>
				<% end %>
				<%= link_to "See More", article, id: "see_more" %>
			</div>
		</div>
	<% end %>
	<%= paginate @articles %>
</div>