<div class="banner clearfix banner-show" style="background-image: url(<%= @article.banner_image %>)">
</div>
<div id="links">
	<div class="wrapper_skinny">
		<h1><%= @article.title.upcase %></h1>
		<%=image_tag("person.jpeg", class: "author-image") %>
		<div class="inline clearfix wrapper">
			<h4><%= @article.author %></h4>
			<h5><%= @article.created_at.strftime("%B %d, %Y") %></h5>
		</div>
		<% if admin_signed_in? %>
			<ul>
				<li><%=link_to "Edit Article", edit_article_path %></li>
				<li><a href="#">Delete Article</a></li>
				<li><%= link_to "Back", root_path %></li>
			</ul>
		<% end %>
		<!-- Twitter -->
		<%= link_to image_tag("twitter.png", class: "share-button"), @article%>
		 <!-- Facebook -->
		<%= link_to image_tag("Facebook.png", class: "share-button"), @article%>
		<!-- Google+ -->
		<%= link_to image_tag("Google.png", class: "share-button"), @article%>
		<!-- StumbleUpon -->
		<%= link_to image_tag("stumbleupon.svg", class: "share-button"), @article%>
		<!-- LinkedIn --> 
		<%= link_to image_tag("linkedin.png", class: "share-button"), @article%>
		<div class="article-body">
			<%= simple_format(@article.body) %>
			<p><em> - <%= @article.author %></em></p>
		</div>
	</div>
</div>
<div class="wrapper_skinny check_out">
	<h3>Check out more from Politipub</h4>
	<div class="row">
		<% @random_article.each do |article| %>
		<div class="col-3">
			<%= link_to image_tag(article.banner_image), @article %>
			<h4><%= article.title %></h4>
			<p><%= article.author %></p>
		</div>
		<% end %>
	</div>
</div>