<div class="wrapper">
	<!-- Searchbar -->

	<div class="clearfix search-title-container">
		<h1 class="index-title">On Tap</h1>
		<%= form_tag search_ontaps_path, method: :get, class: "searchbar", role: "search" do %>
			<p>
			  <%= text_field_tag :search, params[:search], placeholder: "Search OnTap Articles", class: "search-form" %>
			  <%= submit_tag "Search", name: nil, class: "btn btn-primary searchbar" %>
			</p>
		<% end %>
	</div>
	<p>Take a seat at PolitiPub’s virtual bar and welcome to “On Tap” – the center of all things beer! Our exceptional beer curators will help you find the perfect pint to enjoy as you scroll through our thought provoking original articles. Whether you’re a policy junkie who enjoys a hefty hefeweizen or a blogger who indulges in barrel aged sours, we are constantly discovering and reviewing new beers that our staff feels you should know about.</p>

	<!-- Banner -->

	<div class="ontap_banner clearfix" style="background-image: url(<%=@ontap_banner.banner.url() %>)">
		<div class="headline_block">
			<h1><%= link_to @ontap_banner.title, @ontap_banner %></h1>
			<div id="author_title">
				<h4><%= @ontap_banner.author.name %></h4>
				<p><%= @ontap_banner.created_at.strftime("%B %d, %Y") %></p>
			</div>
			<p>
				<%= truncate(striphtml(@ontap_banner.body), length: 250) %>
				<%= link_to "See More", @ontap_banner, id: "see_more" %>
			</p>
		</div>
	</div>

	<!-- OnTap Body -->

	<div class="ontap_body_title">
		<h1>See More Articles</h1>
	</div>
	
	<div class="wrapper_wide ontap_body">
		<% @ontaps.each do |article| %>
			<div class="row clearfix">
				<%= link_to image_tag(article.banner.url(:medium), class: "thumbnail_image"), article %>
				<div class="thumbnail_article">
					<h2><%= link_to article.title, article %></h2>
					<div class="inline clearfix">
						<h4><%= article.author.name %></h4><h5> | <%= article.created_at.strftime("%B %d, %Y") %> </h5>
					</div>
					<p><%= truncate(striphtml(article.body), length: 250) %></p>
					<%= link_to "See More", article, id: "see_more" %>
				</div>
			</div>
		<% end %>
	</div>
	<%= paginate @ontaps %>
</div>