<div class="wrapper profile_block">

	<h1 id="profile_name"><%= @author.name %></h1>
	<%= image_tag(@author.profile_image, class: "profile_picture") %>
		<div class="author_contact">
		<% @links.each do |k,v| %>
			<% unless v.nil? || v.blank? %>
				<%= link_to image_tag(k, class: "share-button"), url_with_protocol(v)%>
			<% end%>
		<% end %>
	</div>
	<h4>Member Since</h4>
	<p><%= time_ago_in_words(@author.created_at) %> ago</p>
	<h4>Political Views</h4>
	<p><%= @author.political_views %></p>
	<h4>About Me</h4>
	<div class="author_bio">
		<p><%= @author.bio %></p>
	</div>
	<h4>Email Me</h4>
	<p><%= @author.email_link %></p>
</div>

<div class="wrapper clearfix">
	<h1><%= @author.name %>'s Articles</h1>
		<% @articles.each do |article| %>
			<div class="article_profile_block">
			<%= link_to image_tag(article.banner_image, class: "profile_article_image"), article %>
			<p><%= link_to article.title, article %></p>
			<p><%= article.created_at.strftime("%B %d, %Y") %></p>
			</div>
		<% end %>
</div>