<div class="footer" id="footer">
	<p>PolitiPub</p>
	<!--<%= image_tag("banner.png", class: "footer-banner", id: "footer-banner") %> -->
	<div class="footer-links">
		<ul class="footer-link-row">
			 <li>
		        <%= link_to image_tag('footer-facebook.png'), url_with_protocol("www.facebook.com/politipub/") %>
		      </li>
		      <li>
		        <%= link_to image_tag('footer-tumblr.png'), url_with_protocol("www.tumblr.com/") %>
		      </li>
		      <li>
		        <%= link_to image_tag('footer-twitter.png'), url_with_protocol("www.twitter.com/politipub") %>
		      </li>
		</ul>
	</div>
	<div class="footer-menu">
		<div class="wrapper">
			<ul>
				<li><%= link_to "Login", new_admin_session_path %></li> |
				<li><%= link_to "Advertise", pages_about_path %></li> |
				<li><%= link_to "Site Map", articles_path %></li> |
				<li><%= link_to "FAQ", categories_path %></li> |
				<li><%= link_to "Sponsor", ontaps_path %></li> |
				<li><%= link_to "Write For Us", pages_contact_path %></li>
			</ul>
		</div>
	</div>
	<div class="rights-reserved">
		<p>PolitiPub Inc.  Copyright @2016 All Right Reserved</p>
	</div>
</div>