<!DOCTYPE html>
<html>
<head>
  <title>Politipub</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main">
		<div class="wrapper_super clearfix" id="upper_buttons">
			<a href=""><%= image_tag("menu_block.png", id: "squares") %></a>
			<% if admin_signed_in? %>
				<p class="pull_right"><%= link_to "Admin Dashboard", pages_dashboard_path %> | <%= link_to "Logout", destroy_admin_session_path, method: :delete, confirm: ("Are you sure you want to logout?") %></p>
			<% else %>
			<p class="pull_right"><%= link_to "Login", new_admin_session_path %> | <%= link_to "Sign Up", new_admin_registration_path %> </p>
			<% end %>
		</div>
		<div class="wrapper_wide">
			<%= link_to image_tag("banner.png", id: "logo"), root_path %></a>
		</div>

		<header>
			<nav class="clearfix">
				<ul>
					<li id="home_button"><%= link_to "Home", root_path %></li>
					<li id="about_button"><%= link_to "About", pages_about_path %></li>
					<li id="articles_button"><%= link_to "Articles", articles_path %></li>
					<li id="contact_button"><%= link_to "Contact", pages_contact_path %></li>
					<li id="sponsor_button"><%= link_to "Sponsor", pages_sponsor_path %></li>
					<li id="ontap_button"><%= link_to "On Tap", pages_ontap_path %></li>
				</ul>
			</nav>
			<nav class="side-menu">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", pages_about_path %></li>
					<li><%= link_to "Articles", articles_path %></li>
					<li><%= link_to "Contact", pages_contact_path %></li>
					<li><%= link_to "Sponsor", pages_sponsor_path %></li>
					<li><%= link_to "On Tap", articles_path %></li>
				</ul>
			</nav>
		</header>
		<%= yield %>
	</div>
	<div id="footer">		
		</div>
	<script type="text/javascript">
			$(document).ready(function() {
		        $("#squares").bind('click',function(){
		        	$(this).toggleClass("rotated");
		        	$(".side-menu").toggleClass("menu-open");
		        	$(".main").toggleClass("main-open");
		        	return false;
		        });
		    });

		</script>
</body>
</html>
