<!DOCTYPE html>
<html>
<head>
  <title>Politipub</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<%= favicon_link_tag 'PP_favicon.png' %>
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main">
		<div class="wrapper_super clearfix" id="upper_buttons">
			<a href=""><%= image_tag("menu_block.png", id: "squares") %></a>
			<% if admin_signed_in? %>
				<p class="pull_right"><%= link_to "Admin Dashboard", pages_dashboard_path %> | <%= link_to "Logout", destroy_admin_session_path, method: :delete, confirm: ("Are you sure you want to logout?") %></p>
			<% else %>
			<p class="pull_right"><%= link_to "Login", new_admin_session_path %> | <%= link_to "Sign Up", new_admin_registration_path %> </p>
			<% end %>
		</div>
		<div class="wrapper_wide">
			<%= link_to image_tag("banner.png", id: "logo"), root_path %></a>
		</div>

		<header>
			<nav class="clearfix">
				<ul>
					<%= link_to root_path do %><li id="home_button"><span>Home</span></li><%end%>
					<%= link_to pages_about_path do %><li id="about_button"><span>About</span></li><%end%>
					<%= link_to articles_path do %><li id="articles_button"><span>Articles</span></li><%end%>
					<%= link_to pages_contact_path do%><li id="contact_button"><span>Contact</span></li><%end%>
					<%= link_to pages_sponsor_path do %><li id="sponsor_button"><span>Sponsor</span></li><%end%>
					<%= link_to ontaps_path do %><li id="ontap_button"><span>On Tap</span></li><%end%>
				</ul>
			</nav>
			<nav class="side-menu">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "All Articles", articles_path %></li>
					<% Category.all.each do |category| %>
						<li><%= link_to category.name, category %></li>
					<% end %>
				</ul>
			</nav>
		</header>
		<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert overlay") %>
		<% end %>
		<%= yield %>
	</div>
	<div id="footer">		
		</div>
	<script type="text/javascript">
			$(document).ready(function() {
		        $("#squares").bind('click',function(){
		        	$(this).toggleClass("rotated");
		        	$(".side-menu").toggleClass("menu-open");
		        	$(".main").toggleClass("main-open");
		        	return false;
		        });
		        $(".overlay").ready(function() { 
				$('.overlay').fadeOut(2500)});
		    });
		</script>
</body>
</html>
