<!DOCTYPE html>
<html>
<head>
  <title>Politipub</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:400,600,500' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="wrapper_super clearfix" id="upper_buttons">
		<a href=""><%= image_tag("menu_block.png", id: "squares") %></a>
		<p class="pull_right"><%= link_to "Login", new_admin_session_path %> | <%= link_to "Sign Up", new_admin_registration_path %> </p>
	</div>
	<div class="wrapper_wide">
		<%= link_to image_tag("banner.png", id: "logo"), root_path %></a>
	</div>

	<header>
		<nav class="clearfix">
			<ul>
				<li id="home_button"><%= link_to "Home", root_path %></li>
				<li id="about_button"><%= link_to "About", root_path %></li>
				<li id="articles_button">Articles</li>
				<li id="contact_button">Contact</li>
				<li id="sponsor_button">Sponsor</li>
				<li id="ontap_button">On Tap</li>
			</ul>
		</nav>
	</header>
<%= yield %>
<script type="text/javascript">
	$(document).ready(function() {
        $("#squares").click(function(){
        	$(this).addClass("rotated");
        });
    });

</script>

</body>
</html>
