<!DOCTYPE html>
<html>
<head>
  <title>PolitiPub</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<%= favicon_link_tag 'PP_favicon.png' %>
  	<meta name="google-site-verification" content="jaA87NG5QEy7sfDTwqoeoCElsxCAWjp1aWE-WOtckCw" />
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main">
		<%= render 'shared/alert' %>
		<div class="wrapper_super clearfix" id="upper_buttons">
			<a href=""><%= image_tag("menu_block.png", id: "squares") %></a>
			<% if admin_signed_in? %>
				<p class="pull_right"><%= link_to "Admin Dashboard", pages_dashboard_path %> | <%= link_to "Logout", destroy_admin_session_path, method: :delete, confirm: ("Are you sure you want to logout?") %></p>
			<% else %>
			<p class="pull_right"><%= link_to "Login", new_admin_session_path %> | <%= link_to "Sign Up", new_admin_registration_path %> </p>
			<% end %>
		</div>
		<div class="wrapper_wide">
			<%= link_to image_tag("banner.png", id: "logo"), root_path %></a>
		</div>

		<header>
			<%= render 'shared/navbar' %>

			<%= render 'shared/sidenav' %>
		</header>
		<%= yield %>
		<%= render 'shared/footer' %>
	</div>
	<script type="text/javascript">
			$(document).ready(function() {
		        $("#squares").bind('click',function(){
		        	$(this).toggleClass("rotated");
		        	$(".side-menu").toggleClass("menu-open");
		        	$(".main").toggleClass("main-open");
		        	return false;
		        });
		        $(".overlay").ready(function() { 
				$('.overlay').fadeOut(2500)});
		    });
		</script>
</body>
</html>
