<!DOCTYPE html>
<html>
<head>
  <title>PolitiPub</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<%= favicon_link_tag 'PP_favicon.png' %>
  	<meta name="google-site-verification" content="jaA87NG5QEy7sfDTwqoeoCElsxCAWjp1aWE-WOtckCw" />
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main">
		<%= render 'shared/alert' %>
		<%= render 'shared/upper_nav' %>
		<div class="wrapper_wide">
			<%= link_to image_tag("banner.png", id: "logo"), root_path %></a>
		</div>

		<header>
			<%= render 'shared/navbar' %>

			<%= render 'shared/sidenav' %>
		</header>
		<%= yield %>
		<%= render 'shared/footer' %>
	</div>
	<script type="text/javascript">
		sideMenu();
	</script>
</body>
</html>
